<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/hint.css/2.0.0/hint.min.css" %>
<% min = TaskController.calc_available_time(listingtask.id) %>
<% # premin = TaskController.calc_available_time(listingtask.id) * 11 / 24  %>
<% premin = Task.calc_splited_time(listingtask.id)  %>
<tr>
  <td>
    <% if(TaskController.alert(listingtask.id) == "alert") %>
        <span class="hint--top" data-hint="残り<%=(Task.calc_deadtime(listingtask.id)/60).round(1)%>時間のうち空いているのは<%=(Task.calc_rate_busy(listingtask.id)*100).round(2)%> %です">
        <%= image_tag("alert.png", :size=>"30x30") %>
        </span>
    <% end %>
  </td>
  <td><%= listingtask.name %></td>
  <td><%= listingtask.deadline.strftime("%Y/%m/%d %H:%M") %></td>
  <td>  
    <%=(premin/60).to_i%>時間<%= (premin%60).to_i %>分
  </td>
  <td><button class="btn btn-success" type="submit" name="id" value= <%= listingtask.id %> method="post">Done</button></td>
  <td><button class="btn btn-success" type="submit" name="edit" value= <%= listingtask.id %> method="post">Edit</button></td>
</tr>
