<h1>Task#display</h1>
<h2>タスクの一覧を表示します</h2>
<p><a href="/task/insert">タスクの新規追加はこちら</a></p>
<p><a href="/task/display">タスクの一覧表示はこちら</a></p>
<p><a href="/schedule/insert">予定の新規追加はこちら</a></p>
<p><a href="/schedule/display">予定の一覧表示はこちら</a></p>
<%= render :partial => "task.html.erb"%>
<!-- <%= form_tag("/task/delete", method: "post") do %> -->
<!--   <table border=1> -->
<!--     <tr> -->
<!--       <th>タスク名</th> -->
<!--       <th>締切</th> -->
<!--       <th>締切までの空き時間</th> -->
<!--     </tr> -->
<!--     <% tasks = @tasks.order("deadline ASC") %> -->
<!--       <% tasks.each do |task| %> -->
<!--       <% min = TaskController.calc_available_time(task.id) %> -->
<!--       <tr> -->
<!--         <td><%= task.name %></td> -->
<!--         <td><%= task.deadline.strftime("%Y年%m月%d日%H時%M分") %></td> -->
<!--         <td><%= (min/60).to_i %>時間<%= (min%60).to_i %>分</td> -->
<!--         <td><button type="submit" name="id" value= <%= task.id %> method="post">Done</button></td> -->
<!--       </tr> -->
<!--     <% end %> -->
<!--   </table> -->
<!-- <% end %> -->
