<!-- <h1>Task#insert</h1>
<h2>タスクの情報を入力してください</h2> -->
<style>
  .split-box{
	position:absolute;
	width:50%;
	height:100%;
}
 
.left-box {
	left:0;
}
 
.right-box {
	right:0;
	overflow-y:scroll;
}
</style>

<%= render :partial => "header.html.erb"%>

<% case @err_id
   when "タスク名前" %>
<p class="emess">タスク名(50文字以内)を入れてください</p>
   <% when "締切" %>
<p class="emess">締切を設定して下さい</p>
<% when "タスク正常" %>
<p class="task_passmess">タスクを追加しました</p>
<% when "初期" %>
<p></p>
<% end %>

<% case @err_id
   when "予定名前" %>
<p class="emess">予定名(50文字以内)を入れてください</p>
   <% when "開始日時" %>
<p class="emess">開始日時を設定して下さい</p>
   <% when "終了日時" %>
<p class="emess">終了日時を設定して下さい</p>
<% when "終始逆" %>
<p class="emess">終了日時は開始日時より後に設定して下さい</p>
<% when "予定正常" %>
<p class="schedule_passmess">予定を追加しました</p>
<% when "初期" %>
<p></p>
<% end %>

<!--task insert ボタン -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-task_insert" >
タスクを追加
</button>

<!--task insert モーダルウィンドウ内容 -->
<div class="modal fade" id="modal-task_insert" tabindex="-1" role="dialog" area-labelledby="modal" area-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="demoModalTitle">タスクを追加</h5>
        <button tupe="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span> 
        </button>
      </div>
      <div class="modal-body">
        <p>
        <%= form_tag("/task/insert", method: "post", onsubmit: "return validate_task()") do %>
        <div class="row">

          <div class="col-sm-6">
            <p>タスク名</p>
            <p>
              <%= text_field_tag(:name) %>
            </p>
          </div>
          <div class="col-sm-6">
            <p>締切日時</p>
            <p>
              <%= text_field_tag(:year, "", id: 'input-year', type: "hidden") %>
              <%= text_field_tag(:month, "", id: 'input-month', type: "hidden") %>
              <%= text_field_tag(:day, "", id: 'input-day', type: "hidden") %>
              <%= text_field_tag(:hour, "", id: 'input-hour', type: "hidden") %>
              <%= text_field_tag(:minute, "", id: 'input-minute', type: "hidden") %>
              <%= text_field_tag :deadline, "", id: 'input-deadline' %>
            </p>
          </div>
        </div>
      </p>
      <div class="row">
        <div class="col-sm-12">
          <%= submit_tag("追加", class: "btn btn-primary") %>
        </div>
      </div>
      <% end %>
      </div>
      <div class="modal-footer">
        <button tupe="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        <button tupe="button" class="btn btn-secondary">botan</button>
      </div>
    </div>
  </div>
</div> 



<!--schedule insert ボタン -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-schedule_insert" >
予定を追加
</button>

<!--schedule insert モーダルウィンドウ内容 -->
<div class="modal fade" id="modal-schedule_insert" tabindex="-1" role="dialog" area-labelledby="modal" area-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="demoModalTitle">予定を追加</h5>
        <button tupe="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span> 
        </button>
      </div>
      <div class="modal-body">
        <p>
        <%= form_tag("/schedule/insert", method: "post", onsubmit: "return validate_schedule()") do %>
          <div class="row">
            <div class="col-sm-4">
              <p>予定名</p>
              <%= text_field_tag(:name) %>
            </div>
            <div class="col-sm-4">
              <p>開始日時</p>
              <%= text_field_tag(:s_year, "", id: 'input-s-year', type: "hidden") %>
              <%= text_field_tag(:s_month, "", id: 'input-s-month', type: "hidden") %>
              <%= text_field_tag(:s_day, "", id: 'input-s-day', type: "hidden") %>
              <%= text_field_tag(:s_hour, "", id: 'input-s-hour', type: "hidden") %>
              <%= text_field_tag(:s_minute, "", id: 'input-s-minute', type: "hidden") %>
              <%= text_field_tag :deadline, "", id: 'input-s-date' %>
            </div>
            <div class="col-sm-4">
              <p>終了日時</p>
              <%= text_field_tag(:e_year, "", id: 'input-e-year', type: "hidden") %>
              <%= text_field_tag(:e_month, "", id: 'input-e-month', type: "hidden") %>
              <%= text_field_tag(:e_day, "", id: 'input-e-day', type: "hidden") %>
              <%= text_field_tag(:e_hour, "", id: 'input-e-hour', type: "hidden") %>
              <%= text_field_tag(:e_minute, "", id: 'input-e-minute', type: "hidden") %>
              <%= text_field_tag :deadline, "", id: 'input-e-date' %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <%= submit_tag("追加", class: "btn btn-primary") %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button tupe="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        <button tupe="button" class="btn btn-secondary">botan</button>
      </div>
    </div>
  </div>
</div> 




<!--

<div class="container" id="insert_section">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active" role="presentation">
      <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab"  class="add">タスク追加</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab"  class="add">予定追加</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab_a" role="tabpanel">
      <p>
        <%= form_tag("/task/insert", method: "post", onsubmit: "return validate_task()") do %>
        <div class="row">

          <div class="col-sm-6">
            <p>タスク名</p>
            <p>
              <%= text_field_tag(:name) %>
            </p>
          </div>
          <div class="col-sm-6">
            <p>締切日時</p>
            <p>
              <%= text_field_tag(:year, "", id: 'input-year', type: "hidden") %>
              <%= text_field_tag(:month, "", id: 'input-month', type: "hidden") %>
              <%= text_field_tag(:day, "", id: 'input-day', type: "hidden") %>
              <%= text_field_tag(:hour, "", id: 'input-hour', type: "hidden") %>
              <%= text_field_tag(:minute, "", id: 'input-minute', type: "hidden") %>
              <%= text_field_tag :deadline, "", id: 'input-deadline' %>
            </p>
          </div>
        </div>
      </p>
      <div class="row">
        <div class="col-sm-12">
          <%= submit_tag("追加", class: "btn btn-primary") %>
        </div>
      </div>
      <% end %>
    </div>

    <div class="tab-pane" id="tab_b" role="tabpanel">
      <p>
        <%= form_tag("/schedule/insert", method: "post", onsubmit: "return validate_schedule()") do %>
          <div class="row">
            <div class="col-sm-4">
              <p>予定名</p>
              <%= text_field_tag(:name) %>
            </div>
            <div class="col-sm-4">
              <p>開始日時</p>
              <%= text_field_tag(:s_year, "", id: 'input-s-year', type: "hidden") %>
              <%= text_field_tag(:s_month, "", id: 'input-s-month', type: "hidden") %>
              <%= text_field_tag(:s_day, "", id: 'input-s-day', type: "hidden") %>
              <%= text_field_tag(:s_hour, "", id: 'input-s-hour', type: "hidden") %>
              <%= text_field_tag(:s_minute, "", id: 'input-s-minute', type: "hidden") %>
              <%= text_field_tag :deadline, "", id: 'input-s-date' %>
            </div>
            <div class="col-sm-4">
              <p>終了日時</p>
              <%= text_field_tag(:e_year, "", id: 'input-e-year', type: "hidden") %>
              <%= text_field_tag(:e_month, "", id: 'input-e-month', type: "hidden") %>
              <%= text_field_tag(:e_day, "", id: 'input-e-day', type: "hidden") %>
              <%= text_field_tag(:e_hour, "", id: 'input-e-hour', type: "hidden") %>
              <%= text_field_tag(:e_minute, "", id: 'input-e-minute', type: "hidden") %>
              <%= text_field_tag :deadline, "", id: 'input-e-date' %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <%= submit_tag("追加", class: "btn btn-primary") %>
            </div>
          </div>
        <% end %>
      </p>
    </div>
  </div>
</div>

-->

<div class="split-box left-box", id="task">
  <%= render :partial => "task/task.html.erb"%>
</div>

<div class="split-box right-box">
  <%= render :partial => "schedule/insert.html.erb"%>
</div>


<%= javascript_include_tag "https://cdn.jsdelivr.net/npm/flatpickr" %>
<%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" %>

<script>
	flatpickr("#input-deadline",{
	  enableTime: true,
	  dateFormat: "Y-m-d H:i",
  });

  flatpickr("#input-s-date",{
	  enableTime: true,
	  dateFormat: "Y-m-d H:i",
  });
	flatpickr("#input-e-date",{
	  enableTime: true,
	  dateFormat: "Y-m-d H:i",
  });

	function validate_task() {
		// return like "2018-07-02 12:00"
	  var date_str = document.getElementById("input-deadline").value;

	  var date_values = date_str.split(/[- :]/);

	  var input_year_tag = document.getElementById("input-year");
	  var input_month_tag = document.getElementById("input-month");
	  var input_day_tag = document.getElementById("input-day");
	  var input_hour_tag = document.getElementById("input-hour");
	  var input_minute_tag = document.getElementById("input-minute");

	  input_year_tag.value = date_values[0];
	  input_month_tag.value = date_values[1];
	  input_day_tag.value = date_values[2];
	  input_hour_tag.value = date_values[3];
	  input_minute_tag.value = date_values[4];

    return true;
  }

  function validate_schedule() {
		// return like "2018-07-02 12:00"
	  var s_date_str = document.getElementById("input-s-date").value;
	  var e_date_str = document.getElementById("input-e-date").value;

	  var s_date_values = s_date_str.split(/[- :]/);
	  var e_date_values = e_date_str.split(/[- :]/);

	  var input_s_year_tag = document.getElementById("input-s-year");
	  var input_s_month_tag = document.getElementById("input-s-month");
	  var input_s_day_tag = document.getElementById("input-s-day");
	  var input_s_hour_tag = document.getElementById("input-s-hour");
	  var input_s_minute_tag = document.getElementById("input-s-minute");

	  var input_e_year_tag = document.getElementById("input-e-year");
	  var input_e_month_tag = document.getElementById("input-e-month");
	  var input_e_day_tag = document.getElementById("input-e-day");
	  var input_e_hour_tag = document.getElementById("input-e-hour");
	  var input_e_minute_tag = document.getElementById("input-e-minute");

	  input_s_year_tag.value = s_date_values[0];
	  input_s_month_tag.value = s_date_values[1];
	  input_s_day_tag.value = s_date_values[2];
	  input_s_hour_tag.value = s_date_values[3];
	  input_s_minute_tag.value = s_date_values[4];

	  input_e_year_tag.value = e_date_values[0];
	  input_e_month_tag.value = e_date_values[1];
	  input_e_day_tag.value = e_date_values[2];
	  input_e_hour_tag.value = e_date_values[3];
	  input_e_minute_tag.value = e_date_values[4];

    return true;
    }
</script>
